<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kidney Disease Classification</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	<style>
		
	</style>
</head>
<body>
    <div class="main container">
		<section class="iupload">
			<h3 class="text-center py-4" style="font-family: copurnicus;">Kidney Disease Classification
			<p>Upload your Kidney CT scan image and evaluate yourself without a doctor.</p>
			</h3>
			<div class="row" style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
				<div class="img-part col-md-6">
					<div class="image-part">
						<img src="https://i.ibb.co/3S5dDby/bewhh.jpg" alt="bewhh" border="0" id="photo">
						<canvas style="display:none;" id="canvas"></canvas>
					</div>
					<div class="btn-part" id="form">
						<form id="upload-data pt-3" class="ud">
							<div class="input-group mt-3">
								<button type="button" class="form-button" id="uload">Upload</button>
								<button id="send" type="button" class="form-button">Predict</button>
							</div>






							<!-- change url value  -->




							<input type="hidden" class="form-control mr-2" id="url" placeholder="Enter REST Api url..." value="../predict"/>
							<input name="upload" type="file" id="fileinput" style="position:absolute;top:-500px;"/><br/>
						</form>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 right-part">
					<h5 class="mb-2"><center>Prediction Results</center></h5>
						<div class="res-part col-md-5 col-xs-12" id="results"></div>
				</div>
			</div>
		</section>
	</div>


<div id="loading"><div class="loader"></div></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
var mybtn = document.getElementById('startbtn');
var myvideo = document.getElementById('video');
var mycanvas = document.getElementById('canvas');
var myphoto = document.getElementById('photo');
var base_data = "";

function sendRequest(base64Data){
	var type = "json";
	if(base64Data != "" || base64Data != null){
		if(type == "imgtobase"){
			$(".res-part").html("");
			$(".res-part").html(base64Data);
		}
		else if(type == "basetoimg"){
			var imageData = $("#imgstring").val();
			$(".res-part").html("");
			$(".res-part").append("<img src='data:image/jpeg;base64," + imageData + "' alt='' />");
		}
		else{
			var url = $("#url").val();
			$("#loading").show();
			$.ajax({
				url : url,
				type: "post",
				cache: false,
				async: true,
				crossDomain: true,
				headers: {
					'Content-Type': 'application/json',
					'Access-Control-Allow-Origin':'*'
				},
				data:JSON.stringify({image:base64Data}),
				success: function(res){
					$(".res-part").html("");
					$(".res-part2").html("");
					try{
						var imageData = res[1].image;
						if(imageData.length > 100){
							if(imageData.length > 10){$(".res-part2").append("<img class='resp-img' src='data:image/jpeg;base64," + imageData + "' alt='' />");}
						}
					}catch(e){}
			
					var results = document.getElementById("results")
					results.innerText = res[0]['image']
					$("#loading").hide();
				}
			});
		}
	}
}

$(document).ready(function(){
	$("#loading").hide();

	$('#send').click(function(evt){
		sendRequest(base_data);
    });

    $('#uload').click(function(evt) {
        $('#fileinput').focus().trigger('click');
    });
	$("#fileinput").change(function(){
		if (this.files && this.files[0]){
			var reader = new FileReader();
			reader.onload = function (e){
				var url = e.target.result;
				var img = new Image();
				img.crossOrigin = 'Anonymous';
				img.onload = function(){
					var canvas = document.createElement('CANVAS');
					var ctx = canvas.getContext('2d');
					canvas.height = this.height;
					canvas.width = this.width;
					ctx.drawImage(this, 0, 0);
					base_data = canvas.toDataURL('image/jpeg', 1.0).replace(/^data:image.+;base64,/, '');
					canvas = null;
				};
				img.src = url;
				$('#photo').attr('src', url);
				$('#photo').show();
				$('#video').hide();
			}
			reader.readAsDataURL(this.files[0]);
		}
	});
});

</script>
</body>
</html>